<div class="register-box">
  <%= form_tag '/register' ,:method => :post do %>
      <div><%= label_tag 'NAME' %> <%= text_field_tag :username,'',:required=>true %></div>
      <div><%= label_tag 'PASSWORD' %> <%= password_field :password,:size=>6,:required=>true %></div>
      <div><%= label_tag 'E-MAIL' %> <%= text_field_tag :email %></div>
      <div><%= submit_tag 'SIGN UP'%></div>
  <% end %>
</div>